<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="CementContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=EcoCement;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="LogLevel" value="Debug" />
    <add key="serilog:using:File" value="Serilog.Sinks.File" />
    <add key="serilog:write-to:File.path" value="%APPDATA%\MyApp\cementLog.txt" />
    <add key="serilog:write-to:File.rollingInterval" value="Day" />
    <add key="serilog:using:Console" value="Serilog.Sinks.Console" />
    <add key="serilog:write-to:Console.theme" value="Serilog.Sinks.SystemConsole.Themes.AnsiConsoleTheme::Code, Serilog.Sinks.Console" />
    <add key="serilog:write-to:Console.outputTemplate" value="[{Timestamp:HH:mm:ss} {Level:u3}] {Message:lj} &lt;s:{SourceContext}&gt;{NewLine}{Exception}" />

    <add key="app:readWeightScaleTimer" value="5000" />
    <add key="app:voltageTurnOn" value="12.00" />
    <add key="app:voltageTurnOff" value="0.00" />

    <add key="app:weightScalePort" value="COM3" />
    <add key="app:powerSupplyPort" value="COM5" />

    <add key="app:scaleTestMode" value="true" />

    <!--
    //SerialPortState,int baudRate, Parity parity, StopBits stopBits, int dataBits, Handshake handshake, string newLine, testCommand, testResponse
    -->
    <add key="app:pwrSypplySerialConfig" value="WeightScale,9600,None,One,8,None,\n,ReadChunksTillNoneMore,*IDN?,RND 320-KD3005P" />
    <add key="app:scaleSerialConfig" value="PowerSupply,9600,None,One,8,None,\r,ReadTillSlashRSlashN,READ,GS" />



  </appSettings>



  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <!--<contexts>
      <context type="CementControl.DataAccess.CementContext, CementControl">
      </context>
    </contexts>-->
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>