<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="LogLevel" value="Debug" />
    <add key="serilog:using:File" value="Serilog.Sinks.File" />
    <add key="serilog:write-to:File.path" value="%APPDATA%\MyApp\cementLog.txt" />
    <add key="serilog:using:Console" value="Serilog.Sinks.Console" />
    <add key="serilog:write-to:Console.theme" value="Serilog.Sinks.SystemConsole.Themes.AnsiConsoleTheme::Code, Serilog.Sinks.Console" />
    <add key="serilog:write-to:Console.outputTemplate" value="[{Timestamp:HH:mm:ss} {Level:u3}] {Message:lj} &lt;s:{SourceContext}&gt;{NewLine}{Exception}" />

    <add key="app:readWeightScaleTimer" value="5000" />
    <add key="app:voltageTurnOn" value="12.00" />
    <add key="app:voltageTurnOff" value="0.00" />

    <add key="app:weightScalePort" value="COM3" />
    <add key="app:powerSupplyPort" value="COM5" />
    
    
    <add key="app:scaleTestMode" value="true" />

    <!--
    //int baudRate, Parity parity, StopBits stopBits, int dataBits, Handshake handshake, string newLine, testCommand, testResponse
    // (_powerSupplyComPort, 9600, Parity.None, StopBits.One, 8, Handshake.None, "\n");
    -->
    <add key="app:pwrSypplySerialConfig" value="9600,None,One,8,None,\n,*IDN?,RND 320-KD3005P" />
    <add key="app:scaleSerialConfig"     value="9600,None,One,8,None,\r,READ,GS" />



  </appSettings>



  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>